.about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1rem;
  width: 100%;
  max-width: 1100px;
  color: var(--dark);
}
.about h3 {
  font-size: 24px;
  padding-bottom: 5rem;
}
.gridContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.gridContainer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.gridContainer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.gridContainer > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.gridContainer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.gridContainer > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.gridContainer > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.gridContainer .picture {
  height: 376px;
  width: 376px;
  background-image: url(../../img/me.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
.gridContainer section {
  padding-bottom: 2rem;
}
.gridContainer section h4 {
  font-size: 24px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: -webkit-linear-gradient(45deg, var(--red), var(--yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gridContainer section p {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .gridContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .about {
    padding-bottom: 10rem;
  }
  .gridContainer .picture {
    margin-bottom: 1rem;
    width: 100%;
    min-height: 376px;
  }
}