.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1rem;
  background-color: var(--dark);
}
.navigation h1 {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray);
}
.navigation h1 span {
  color: var(--yellow);
}
.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation ul li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 700;
  margin-left: 1rem;
  color: var(--gray);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navigation ul li:hover {
  color: var(--yellow);
}

@media (max-width: 650px) {
  .navigation ul li {
    font-size: 14px;
    margin-left: 0.5rem;
  } 
}